[submodule "app/browser_homepage"]
	path = app/browser_homepage
	url = https://github.com/AmperiaWang/browser_homepage.git
[submodule "app/enhanced_layedit"]
	path = app/enhanced_layedit
	url = https://github.com/AmperiaWang/Enhanced-Layedit.git
[submodule "app/notiverse"]
	path = app/notiverse
	url = https://github.com/AmperiaWang/notiverse.git