<!DOCTYPE html>
<html>

<head>
    <title>欢迎来到我的站点</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="./favicon.jpg" type="image/x-icon">
	<link rel="shortcut icon" href="./favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.1/dist/css/mdui.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css">
    <link rel="stylesheet" href="./static/main.css">
</head>

<body class="mdui-bottom-nav-fixed mdui-theme-primary-light-green mdui-theme-accent-teal">
    <div id="app">
        <div id="appbar" class="mdui-appbar">
            <div class="mdui-toolbar mdui-color-theme">
                <a href="/" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '主页'}">
                    <i class="mdui-icon material-icons">home</i>
                </a>
                <a :href="personalInfo['homepage']" class="mdui-typo-title appbar-avatar">
                    <img class="mdui-img-circle" :src="personalInfo['avatar']" :alt="personalInfo['name']"/>
                    <span style="margin-left: 10px;" v-html="personalInfo['name']"></span>
                </a>
                <div class="mdui-toolbar-spacer"></div>
                <div class="mdui-textfield mdui-textfield-expandable" mdui-tooltip="{content: '搜索'}">
                    <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                        <i class="mdui-icon material-icons">search</i>
                    </button>
                    <input v-model="searchQuery" class="mdui-textfield-input" type="text" placeholder="输入关键词搜索" @input="updateSelectedNotes();"/>
                    <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                        <i class="mdui-icon material-icons">close</i>
                    </button>
                </div>
                <a class="mdui-btn mdui-btn-icon" @click="applyRefresh();" mdui-tooltip="{content: '刷新'}">
                    <i class="mdui-icon material-icons">refresh</i>
                </a>
            </div>
        </div>

        <div class="banner">
            <img class="banner-background" src="./static/banner.jpg">
            <div class="banner-cover">
                <div class="banner-title">
                    <div class="mdui-container">
                        <h1 v-html="pageTitle"></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-container" style="padding-top: 2rem;">
            <div v-if="currentPageColumn == 0" :id="pageColumns[0]['id']">
                <div class="mdui-table-fluid mdui-typo">
                    <table class="mdui-table mdui-table-hoverable">
                        <tbody>
                            <tr v-for="(val, key) in personalProfile">
                                <td v-html="key"></td>
                                <td v-html="converter.makeHtml(val)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mdui-typo-headline" style="padding-top: 2.5rem; padding-bottom: 1rem;">作品</div>
                <div class="mdui-row-xs-1 mdui-row-sm-1 mdui-row-md-2 mdui-row-lg-3 mdui-row-xl-4">
                    <div v-for="(app, appIdx) in subApps" class="mdui-col">
                        <div class="mdui-card" style="margin: 1rem;">
                            <div class="mdui-card-header">
                                <img class="mdui-card-header-avatar" :src="app['icon']" :alt="app['title']"/>
                                <div class="mdui-card-header-title" v-html="app['title']"></div>
                                <div class="mdui-card-header-subtitle" v-html="app['desc']"></div>
                            </div>
                            <div class="mdui-card-actions">
                                <button class="mdui-btn mdui-ripple" @click="openApp(appIdx);">前往</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="currentPageColumn == 1" :id="pageColumns[1]['id']">
                <h2 class="mdui-text-center" style="font-weight: 300;">施工中</h2>
            </div>
            <div v-if="currentPageColumn == 2" :id="pageColumns[2]['id']">
                <div class="mdui-panel" mdui-panel>
                    <div v-for="(series, sidx) in selectedNotes">
                        <div v-if="series['subs'].length > 0" class="mdui-panel-item mdui-panel-item-open">
                            <div class="mdui-panel-item-header">
                                <i class="mdui-icon material-icons">book</i>
                                <span v-html="series['title']"></span>
                            </div>
                            <div class="mdui-panel-item-body">
                                <div class="mdui-list">
                                    <a v-for="(note, nidx) in series['subs']" class="mdui-list-item mdui-ripple" @click="openNote(series['idx'], note['idx']);">
                                        <span v-html="note['title']"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="appbar-tab" class="mdui-tab mdui-bottom-nav">
            <a v-for="(column, idx) in pageColumns" :class="'mdui-ripple' + (currentPageColumn == idx ? ' mdui-tab-active' : '')" @click="handleColumnChange(idx);">
                <i class="mdui-icon material-icons mdui-center" v-html="column['icon']"></i>
                <label v-html="column['title']"></label>
            </a>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <script src="https://unpkg.com/showdown@2.1.0/dist/showdown.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
    <script src="./static/note_menu.js"></script>
    <script>
        const { createApp, ref, onMounted, onUpdated, nextTick } = Vue;
        const converter = new showdown.Converter();
        
        const app = createApp({
            setup: () => {
                const pageTitle = ref("");
                const pageColumns = ref ([
                    {
                        "id": "navigator",
                        "title": "个人简介",
                        "icon": "apps"
                    },{
                        "id": "recommend",
                        "title": "推荐阅读",
                        "icon": "note"
                    },{
                        "id": "note",
                        "title": "笔记整理",
                        "icon": "book"
                    }
                ]);
                const currentPageColumn = ref(0);

                const personalInfo = ref({
                    "name": "安培利亚",
                    "avatar": "https://avatars.githubusercontent.com/u/47077175?v=4",
                    "homepage": "https://github.com/AmperiaWang"
                });
                const personalProfile = ref({
                    "现就读于": "西安交通大学",
                    "领域": "类脑计算（人工智能、机器学习）",
                    "擅长": "机器学习/深度学习的代码编写及训练、前后端代码编写与调试。",
                    "联系方式": "邮箱：amperiawang@outlook.com\n\n[Bilibili：安培利亚](https://space.bilibili.com/6751159)"
                });
                const subApps = ref([
                    {
                        "path": "./app/enhanced_layedit/demo",
                        "title": "改进版layedit",
                        "icon": "./app/enhanced_layedit/demo/icon.png",
                        "desc": "在原有的layedit基础上进行了改进。"
                    },
                    {
                        "path": "./app/browser_homepage",
                        "title": "浏览器主页",
                        "icon": "./app/browser_homepage/favicon.ico",
                        "desc": "自制浏览器主页，具有更换壁纸、主题和简易的收藏夹功能。"
                    },
                    {
                        "path": "./app/tarot",
                        "title": "塔罗牌",
                        "icon": "./app/tarot/favicon.png",
                        "desc": "塔罗牌占卜小程序。"
                    }
                ]);

                const allNotes = ref(note_menu);
                const searchQuery = ref("");
                const selectedNotes = ref([]);

                const setTitle = (text) => {
                    document.title = text;
                };

                const comingSoon = () => {
                    mdui.snackbar("敬请期待");
                };

                const applyRefresh = () => {
                    updateSelectedNotes();
                    handleColumnChange(currentPageColumn.value);
                };

                const openApp = (app_idx) => {
                    window.open(subApps.value[app_idx]["path"]);
                };
                
                const openNote = (series_idx, note_idx) => {
                    window.open("./reader.html?sidx=" + encodeURIComponent(series_idx) + "&nidx=" + encodeURIComponent(note_idx), "_blank");
                };

                const handleColumnChange = (idx) => {
                    currentPageColumn.value = idx;
                    pageTitle.value = pageColumns.value[idx].title;
                };

                const updateSelectedNotes = () => {
                    let q = searchQuery.value.trim();
                    let result = [];
                    allNotes.value.forEach((series, series_idx) => {
                        let element = {
                            "idx": series_idx,
                            "title": series["title"],
                            "path": series["path"],
                            "subs": []
                        };
                        series["subs"].forEach((note, note_idx) => {
                            if ((q.length === 0) || (note["title"].indexOf(q) !== -1)) {
                                element["subs"].push({
                                    "idx": note_idx,
                                    "title": note["title"],
                                    "path": note["path"]
                                })
                            }
                        });
                        result.push(element);
                    });
                    selectedNotes.value = result;
                };

                onMounted(() => {
                    applyRefresh();
                });

                onUpdated(() => {
                    mdui.mutation();
                    hljs.highlightAll();
                });

                return {
                    converter,
                    pageTitle,
                    pageColumns,
                    currentPageColumn,
                    personalInfo,
                    personalProfile,
                    subApps,
                    allNotes,
                    searchQuery,
                    selectedNotes,
                    setTitle,
                    comingSoon,
                    applyRefresh,
                    openApp,
                    openNote,
                    updateSelectedNotes,
                    handleColumnChange
                };
            }
        });
        
        app.mount('#app');
    </script>
</body>

</html>