<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>塔罗牌</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="./favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link href="./assets/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <img class="page-background" src="./assets/images/background.jpg" alt="">
        <div class="card-bar">
            <img v-for="(card, idx) in classes[current_class_idx]['cards']" class="card-icon" :src="'./assets/images/cards_thumbnail/' + classes[current_class_idx]['folder'] + '/' + card['image_file'] + '.jpg'" :alt="card['name']" :title="card['name']" @click="select_card(idx);">
        </div>
        <div class="card-stage">
            <div class="card-symbol">{{current_card["symbol"]}}</div>
            <div class="card-background-description">
                <div class="row">
                    <div v-if="current_card['title_4'].length >= 1" id="desc-1" class="col background-desc">
                        {{current_card['title_4'][0]}}
                    </div>
                    <div v-if="current_card['title_4'].length >= 2" id="desc-2" class="col background-desc">
                        {{current_card['title_4'][1]}}
                    </div>
                </div>
                <div class="row">
                    <div v-if="current_card['title_4'].length >= 3" id="desc-3" class="col background-desc">
                        {{current_card['title_4'][2]}}
                    </div>
                    <div v-if="current_card['title_4'].length >= 4" id="desc-4" class="col background-desc">
                        {{current_card['title_4'][3]}}
                    </div>
                </div>
            </div>
            <div class="card-image-container">
                <img :class="'card-image' + (current_card['reversed'] ? ' reversed' : '')" :src="'./assets/images/cards_thumbnail/' + classes[current_card['class']]['folder'] + '/' + current_card['img'] + '.jpg'" :alt="current_card['title']" @click="highlight_card(current_card['class'], current_card['idx']);">
            </div>
            <div class="card-info">
                <div class="card-title">{{current_card['title'] + (current_card['reversed'] ? ' 逆位' : '')}}</div>
                <div class="card-title-english">{{current_card['title_en']}}</div>
                <div class="card-desc">{{current_card['annotations'][current_card['reversed'] ? 'reversed' : 'normal']}}</div>
            </div>
        </div>
        <div class="card-class-bar-container">
            <div class="card-class-bar">
                <div v-for="(card_class, idx) in classes" class="card-class" @click="switch_class(idx);" :title="card_class['name']">
                    <img :src="'./assets/images/icons/' + card_class['folder'] + '.png'" :alt="card_class['name']"/>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/card_info.js"></script>
    <script>
        const { createApp, ref, onMounted } = Vue;
        
        const app = createApp({
            setup: () => {
                const classes = ref(card_info);
                const current_class_idx = ref(0);
                const current_card = ref({});
                
                const switch_class = (class_idx) => {
                    current_class_idx.value = class_idx;
                };

                const select_card = (card_idx) => {
                    let card = card_info[current_class_idx.value]["cards"][card_idx];
                    current_card.value = {
                        "class": current_class_idx.value,
                        "idx": card_idx,
                        "title": card["name"],
                        "title_en": card["name_english"],
                        "img": card["image_file"],
                        "desc": card["keywords"].join(" "),
                        "title_4": card["title"],
                        "symbol": card["symbol"],
                        "annotations": card["annotations"],
                        "reversed": false
                    };
                };

                const highlight_card = (class_idx, card_idx) => {
                    current_card.value["reversed"] = !current_card.value["reversed"];
                };

                select_card(0);
                
                // onMounted(() => {
                //     select_card(0);
                // });

                return {
                    classes,
                    current_class_idx,
                    current_card,
                    switch_class,
                    select_card,
                    highlight_card
                };
            }
        });
        
        app.mount('#app');
    </script>
</body>

</html>