.banner {
    position: relative;
    width: 100%;
    height: 40vh;
}

.banner-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2rem;
}

.banner-title h1 {
    color: #ffffff;
    font-weight: 300;
}

.appbar-avatar img {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
}

#appbar-tab {
    background-color: #ffffff;
}

.katex-html {
  display: none;
}